*{
    margin: 0;
    padding: 0;
}
/* common styles */
body {
    font-family: 'Merriweather', serif;
    font-family: 'Young Serif', serif;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    color: white;
    padding: 18px 35px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
   
}
.section-description{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
}

/* ------------nav bar styles----------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav span {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
}

/* -----------------Header Styles------------------ */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

.banner {
    display: flex;
    align-items: center;
    padding: 40px 0px 0px 200px;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner-subtitle {
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}

.banner-title {
    font-size: 65px;
    color: #181818;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-para {
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 25px;
    
}

 .banner .banner-pic {
    width: 500px;
} 
.btn-download{
    margin-right: 30px;
}

/* Main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section styles */
.about{
   
    background-color: #FFF8F3;
    margin: 150px 0;
    border-radius: 5px;
    padding: 120px 150px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
    
.about-info-title{
    font-size: 15px;
    color: #757575;
    text-align: center;
}
.about-info-subtitle{

    color: #474747;
}

/* What i do section */
#what-i-padd{
    padding: 15px 150px;
}
.skills-container{
    display: flex;
}
.skill{
    padding: 35px;
    gap: 25px;
}
